footer.footer
    .footer__container
        .footer__top
            img.footer__logo(src="assets/img/logo-white.svg" alt="logo")
            ul.social-list
                li.social-list__item
                    a.social-list__link(href="#" aria-label="Go to easybank's facebook")
                        img.social-list__image(src="assets/img/icon-facebook.svg" alt="facebook" aria-hidden="true")

                li.social-list__item
                    a.social-list__link(href="#" aria-label="Go to easybank's youtube")
                        img.social-list__image(src="assets/img/icon-youtube.svg" alt="youtube" aria-hidden="true")

                li.social-list__item
                    a.social-list__link(href="#" aria-label="Go to easybank's twitter")
                        img.social-list__image(src="assets/img/icon-twitter.svg" alt="twitter" aria-hidden="true")

                li.social-list__item
                    a.social-list__link(href="#" aria-label="Go to easybank's pinterest")
                        img.social-list__image(src="assets/img/icon-pinterest.svg" alt="pinterest" aria-hidden="true")

                li.social-list__item
                    a.social-list__link(href="#" aria-label="Go to easybank's instagram")
                        img.social-list__image(src="assets/img/icon-instagram.svg" alt="instagram" aria-hidden="true")

        .footer__body
            ul.footer-list
                li.footer-list__item: a.footer-list__link(href="#") About Us
                li.footer-list__item: a.footer-list__link(href="#") Contact
                li.footer-list__item: a.footer-list__link(href="#") Blog

            ul.footer-list
                li.footer-list__item: a.footer-list__link(href="#") Careers
                li.footer-list__item: a.footer-list__link(href="#") Support
                li.footer-list__item: a.footer-list__link(href="#") Privacy Policy

        .footer__bottom
            a.footer__link(href="#") Request Invite
            p: small.footer__copyright © Easybank. All Rights Reserved